.mb-30 {
    margin-bottom: 65px;
}

.search {

    margin-bottom: 15px;

    &-label {
        font-weight: 700;
        margin-right: 20px;
    }

    &-input {
        max-width: 180px;
        text-align: center;

        padding: 8px 10px;

        border: 0 !important;
        border-radius: 4px;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);

        transition: box-shadow .2s linear;

        &:focus {
            box-shadow: 0px 0px 6px var(--bs-primary);
            outline: none;
        }
    }


}

.filter-label {
    font-weight: 700;
    margin-right: 20px;
}

.filter-group {
    margin-bottom: 15px;
}

.filter-btn {

    margin-right: 5px;

    background-color: #fff;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 4px 0px 0px 4px;

    transition: box-shadow .2s linear !important;

    &:hover {
        border-color: transparent !important;
        background-color: transparent !important;
        box-shadow: 0px 0px 6px var(--bs-primary);
    }
}

.active {
    border-color: transparent !important;
    background-color: transparent !important;
    box-shadow: 0px 0px 6px var(--bs-primary);
}