.main {
    background: url('../../../../public/img/backgrounds/main-bg.png') no-repeat;
    background-size: cover;

    &-title {
        font-weight: 700;
        font-size: 40px;
        line-height: 58px;
        color: #fff;

        margin-bottom: 20px;


        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        a {
            text-decoration: none;
            color: #fff;
        }
    }



    .image-coffee {

        &::before,
        &::after {
            background-color: #fff;
        }
    }

    &-subtitle {
        font-weight: 700;
        font-size: 24px;
        line-height: 35px;
        color: #fff;

        margin-bottom: 20px;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .btn-outline-light {
        padding: 5px 45px;
        margin-bottom: 200px;
    }

    @media (max-width: 991px) {
        &-title {
            font-size: 28px;
        }

        &-subtitle {
            font-size: 18px;
        }

        .btn-outline-light {
            margin-bottom: 60px;
        }
    }

    @media (max-width: 575px) {
        &-title {
            font-size: 24px;
            line-height: 35px;
        }

        &-subtitle {
            font-size: 16px;
            line-height: 18px;
            margin-bottom: 15px;
        }

        .btn-outline-light {
            margin-bottom: 30px;
        }
    }
}

.recommended {
    padding-top: 80px;
    padding-bottom: 110px;

    background: url(../../../../public/img/backgrounds/paper-bg.png) no-repeat;
    background-size: cover;

    &-title {
        font-weight: 400;
        font-size: 24px;
        line-height: 35px;

        margin-bottom: 40px;
    }
}