.goods-page {
    &__inner {

        background: url('../../../public/img/backgrounds/coffee-bg.jpg') no-repeat;
        background-size: cover;

        .navbar {
            margin-bottom: 40px;
        }
    }

    &__title {
        margin-bottom: 80px;

        font-weight: 700;
        font-size: 40px;
        line-height: 58px;

        color: #FFFFFF;
    }

   
}