.coffee-page {
    &__inner {

        background: url('../../../../public/img/backgrounds/coffee-bg.jpg') no-repeat;
        background-size: cover;

        .navbar {
            margin-bottom: 40px;
        }
    }

    &__title {
        margin-bottom: 80px;

        font-weight: 700;
        font-size: 40px;
        line-height: 58px;

        color: #FFFFFF;
    }


}

.wrapper {

    .coffee-card {

        margin: 0 25px 40px;

        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
    }
}