.navbar {

    margin-top: 50px;
    margin-bottom: 105px;

    .nav-item {
        .nav-link {
            font-size: 12px;
            line-height: 17px;
            color: #fff;

            transition: color .2s linear;

            &:hover {
                text-decoration: underline;
            }
        }

        .active {
            text-decoration: underline;
        }
    }

    @media (max-width: 991px) {
        & {
            margin-top: 25px;
            margin-bottom: 40px;
        }
    }

}