.footer {
    .navbar {
        margin-top: 20px;
        margin-bottom: 15px;

        .container-fluid {
            justify-content: center;
        }

        .navbar-collapse {
            flex-grow: 0;
        }

        .nav-link {
            color: #000;

            &:hover {
               text-decoration: underline;
            }
        }
    }

}

@media (max-width: 991px) {
    .footer {
        .navbar {
            display: none;
        }

        .image-coffee {
            margin-top: 35px;
        }
    }
}